@{
    ViewBag.Title = "Статті";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                
                    <h2>
                        @Html.ActionLink("Як працює гомеопатія і чому вам не допоможе таке лікування",  "Homeopathy")
                    </h2>

                </a>
                <h5 class="post-subtitle">
                    Гомеопатія є надзвичайно популярною для лікування ГРІ, бронхіту, мігрені, депресії та інших захворювань, включаючи онкологічні. Власне, прибутки від продажу гомеопатичних препаратів вимірюються мільярдами доларів, що красномовно підкреслює їхню популярність. З іншого боку, жодне належне наукове дослідження не змогло довести, що хоча б один із гомеопатичних препаратів може вилікувати яку-небудь хворобу.
                </h5>
                <p class="post-meta">

                    <a href="#">Онуфреїв Оксана</a>
                    24 вересня, 2018
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a >
                    <h2 class="post-title">
                        @Html.ActionLink("Фітотерапія", "Phytotherapy")
                    </h2>

                </a>
                <h5 class="post-subtitle">
                    За своє життя, кожна людина, встигає багато раз перехворіти на ту чи іншу хворобу, і в такі хвилини гостро постає питання, як і чим лікуватися - використовувати хімічні препарати чи всеж таки використовувати рослинні засоби (чаї, рослинні відвари та настойки...).
                    Кожен з методів має право на існування і застосовується в окремих випадках, але спочатку трохи фактів
                </h5>
                <p class="post-meta">

                    <a href="#">Катрич Ірина</a>
                    18 вересня, 2018
                </p>
            </div>
            <hr>
            
            <hr>
            
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Старші пости &rarr;</a>
            </div>
        </div>
    </div>
</div>

