
@{
    ViewBag.Title = "Гомеопатія";
}

<div class="post-preview">

    <h2 class="post-title">
        Як працює гомеопатія і чому вам не допоможе таке лікування
    </h2>


    <p class="post-subtitle">
        Гомеопатія є надзвичайно популярною для лікування ГРІ, бронхіту, мігрені, депресії та інших захворювань, включаючи онкологічні. Власне, прибутки від продажу гомеопатичних препаратів вимірюються мільярдами доларів, що красномовно підкреслює їхню популярність. З іншого боку, жодне належне наукове дослідження не змогло довести, що хоча б один із гомеопатичних препаратів може вилікувати яку-небудь хворобу.
    </p>

    <div>
        <img class="leftimg" height="327" width="540" src="https://i.ibb.co/ysW2sFt/20b1699ef95ae788019751aaac2ce6fa.jpg" alt="homeop">
    </div>

    <h4 class="post-subtitle">
        Гомеопатія - що це таке і як працює
    </h4>
    <p>
        Гомеопатія – це альтернативний напрям медицини, що з’явився в Європі наприкінці ХVIII століття. Винахідник гомеопатії німецький лікар Самуеле Ганеман досліджував, як впливають на організм малі дози препаратів, що викликають симптоми, аналогічні симптомам захворювання.
    </p>
    <p>
        Досі ключовим принципом гомеопатії залишається підхід «подібне лікується подібним». Тобто для лікування хвороби використовують надзвичайно малі дози речовини, яка провокує симптоми, ідентичні до симптомів цієї ж хвороби. Простіше кажучи, тут має спрацювати метод “клин клином”.
    </p>
    <p>
        Основа гомеопатичних препаратів – це зазвичай мінерали, речовини рослинного або тваринного походження. Їх розводять багато разів (за чіткою рецептурою, найчастіше водою чи спиртом), щоб концентрація цих речовин була низькою. Експерти зазначають, що часто після багаторазового розведення у препараті не залишається жодних ознак (навіть на рівні молекул) початкової діючої речовини, а розведення з індексом 40С відповідає 1 молекулі на весь Всесвіт. Цей факт виробники гомеопатії пояснюють різними “інформаційними” теоріями, але наукове підтвердження їх відсутнє.
    </p>
    <p>
        Тож гомеопатія як вид альтернативної медицини відрізняється з-поміж інших специфічними поглядами на хвороби, альтернативними лікарськими засобами, принципами та методами діагностики й лікування.
    </p>
    <h4 class="post-subtitle">
        Що входить до складу гомеопатичних препаратів
    </h4>
    <p>
        До складу гомеопатичних препаратів входить широкий спектр природних та синтетичних вихідних діючих речовин: мінерали; хімічні речовини; речовини рослинного походження, у тому числі коріння, стебла, листя, цвіт, кора, пилок, лишайники, мохи, папороті та водорості; мікроорганізми, у тому числі грибки, бактерії, віруси та паразити рослин; речовини тваринного походження: частини органів тварин, тканин, секретів і клітинних ліній; людські матеріали можуть включати тканини, секреції, гормони та лінії генетично однорідних клітин.
    </p>
    <p>
        Деякі з цих речовин вважаються потенційно небезпечними для здоров’я людей, тому їх не використовують у класичній медицині. Навіть у розведеній формі вони можуть бути шкідливими. Наприклад, у гомеопатії використовують нозоди – препарати, які виготовлені на основі культур мікробів, патогенних організмів та збудників, продуктів екскреції або секреції, а також з патологічних органів і тканин, що не містять в собі вірулентних мікроорганізмів.
    </p>
    <p>
        Будь-які матеріали тваринного або людського походження є потенційно небезпечними для здоров’я  людини, оскільки можуть містити токсичні чи патогенні речовини. Інгредієнти рослинного походження можуть бути насиченні пестицидами та важкими металами (вміст токсичних компонентів у рослинних матеріалах може істотно відрізнятися).
    </p>
    <p>
        Експерти стверджують, що гомеопатія зазвичай є безпечною, тому що майже усі гомеопатичні препарати настільки розводять водно-спиртовими розчинами, що в кінцевому результаті часто навіть не виявляють і не описують діючу речовину. Тобто більшість гомеопатичних препаратів - це спирт або вода+цукор.
    </p>
    <p>
        нша справа, коли гомеопатичні препарати призначаються в концентрованій формі: висока концентрація діючої речовини - лікарських рослин, речовин тваринного або людського походження, патогенних мікроорганізмів, мінералів та хімікатів - може серйозно нашкодити.
    </p>
    <p>
        Отже, при лікуванні гомеопатією ви ризикуєте здоров’ям, якщо виробник використав неякісну або небезпечну сировину або якщо процедура виробництва готових препаратів цієї категорії була порушена. У всіх інших випадках гомеопатія не нашкодить. Але і не допоможе – жодне належне досліждення не довело, що гомеопатія здатна вилікувати будь-яку хворобу – від застуди до раку.
    </p>
    <p>
        Суб’єктивний досвід щодо допомоги гомеопатії при певних захворюваннях зазвичай пояснюється природним перебігом захворювання. Наприклад, зазвичай грип/ГРІ проходить за 7 днів, і коли пацієнт приймає гомеопатичний препарат, то у нього виникає помилкове судження, що подальше одужання відбулось саме завдяки прийому гомеопатії.
    </p>
    <div>
        <img class="rightimg" height="327" width="510" src="https://i.ibb.co/mCJzHC7/123.jpg" alt="homeop">
    </div>

    <h4 class="post-subtitle">
        Чому гомеопатію називають лженаукою
    </h4>
    <p>
        За даними Всесвітньої організації охорони здоров’я сьогодні прихильниками народної та альтернативної медицини визнають себе понад 100 млн європейців, з них 20 млн регулярно користуються послугами центрів народної чи альтернативної медицини та стільки ж обирають лікування, що включає елементи народної чи альтернативної медицини.
    </p>
    <p>
        Більшість гомеопатичних ліків можна придбати в аптеках та медичних закладах без попередньої консультації або рецепта лікаря.
        Разом з тим, численні наукові дослідження не можуть довести ефективність гомеопатії хоча б для одного захворювання.
    </p>
    <p>
        Так, у 2015 році Національна рада здоров’я та медичних досліджень Австралії опубліковала результати дослідження ефективності гомеопатії. Проаналізувавши понад 1800 досліджень, учені констатували, що не виявили жодного захворювання, при якому гомеопатія є ефективнішою, аніж ефект плацебо.
    </p>
    <p>
        Наприкінці 2016 року Федеральна торгова комісія США опублікувала звіт, в якому заявила, що щодо реклами гомеопатичних препаратів мають діяти ті ж стандарти, які застосовуються щодо ліків доказової медицини. Зокрема, комісія закликала виробників вказувати, що не існує жодних наукових даних, що гомеопатія допомагає при хворобі, а ідеї про ефективність гомеопатії грунтуються на теоріях 18 століття, які не поділяють більшість сучасних медичних експертів.
    </p>
    <p>
        Протягом останніх років кількість небажаних реакцій на альтернативні ліки збільшилася в більш ніж два рази. Тому ВООЗ розробила рекомендації щодо розробки інформації для споживачів про застосування методів та продукції народної, комплементарної та альтернативної медицини.
    </p>


    <p class="post-meta">

        <a href="#">Онуфреїв Оксана</a>
        24 вересня, 2018
    </p>
</div>
