
@{
    ViewBag.Title = "Фітотерапія";
}

<div class="post-preview">

    <h2 class="post-title">
        Фітотерапія
    </h2>
    <p class="post-subtitle">
        За своє життя, кожна людина, встигає багато раз перехворіти на ту чи іншу хворобу, і в такі хвилини гостро постає питання, як і чим лікуватися - використовувати хімічні препарати чи всеж таки використовувати рослинні засоби (чаї, рослинні відвари та настойки...).
    </p>
    <div>
        <img class="rightimg" src="https://i.ibb.co/nC9CHQ3/ph121.jpg" alt="phitot">
    </div>
    <h4 class="post-subtitle">
        Фітотерапія - це лікування з використанням рослин.
    </h4>
    <p>
        Лікування хвороб за допомогою лікарських рослин має дуже давню історію і існує з часів виникнення людської цивілізації. Власне рослини і були першою сировиною для виготовлення ліків.
    </p>
    <p>
        В давнину люди не будували лабораторії та не проводили хімічні дослідження рослин, але вони методом спроб та помилок дізнавалися, що певні рослини допомагають при тих чи інших хворобах. Так з'явилася народна медицина, яка згодом стала наукою, і таким чином науковці почали використати лікарські рослини в сучасній медицині.
    </p>


    <p>
        На сьогодні досить значна частина лікарських препаратів виготовляється із рослинної сировини.
    </p>

    <h4 class="post-subtitle">
        Фітотерапія характеризується м'якою, поступовою, різносторонньою дією біологічно активних компонентів окремих лікарських рослин на організм людини без побічних негативних змін.
    </h4>
    <p>
        В зв'язку з тим, що біологічно активні компоненти рослин за своєю хімічною структурою дуже близькі або навіть ідентичні тим які виробляє людський організм, вони активно сприяють нормалізації життєво важливих процесів, покращують обмін речовин, забезпечують організм необхідними вітамінами, мінеральними речовинами. Xарактерною особливістю фітотерапії є також те, що складові компоненти рослин набагато рідше визивають алергію ніж це має місце у синтетичних ліків. Відомий цілий ряд лікарських рослин препарати яких значно зменшують рояви існуючих алергічних реакцій.
    </p>
    <p>
        Це наприклад дуже важливо при лікуванні хвороб органів дихання, які нерідко мають алергічну природу.
    </p>
    <p>
        При застосуванні фітотерапії використовуються чаї, рослинні екстракти, відвари, креми, мазі, сиропи, свічки, таблетки, капсули.
    </p>
    <p>
        На сьогоднішній день лікарські рослини широко використовуються:
    </p>
    <p>
        1) у народній медицині;
    </p>
    <p>
        2) у класичній медицині (чисті речовини, речовини рослинного походження);
    </p>
    <p>
        3) в аромотерапії.
    </p>
    <p>
        Рослини відіграють важливу роль як у лікуванні, так і в профілактиці (попередження виникнення) захворювань. Клінічно підтверджені факти, що завдяки прийому деяких рослин можна попередити виникнення атеросклерозу, вторинної артеріальної гіпертензії, інсульту, раку.
    </p>

</div>

